<h1><%= @shop.name %></h1>

<ul class="nav nav-tabs" style="margin-bottom:15px">
  <li class="active"><a href="#home" data-toggle="tab">データ</a></li>
  <li><a href="#about" data-toggle="tab">イメージ</a></li>
  <li><a href="#hoge" data-toggle="tab">コメント</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <table class='table table-striped table-bordered'>
      <tr>
        <th>ジャンル</th>
        <th>エリア</th><!--この行を修正-->
        <th>画像</th>
        <th>ホームページ</th>
      </tr>
      <!--for みたいなもの-->
      <tr>
        <!-- categoryのままだとクラスが表示される-->
        <td><%= @shop.category.name  if @shop.category.present? %></td>
        <td><%= @shop.address %></td>
        <td>    <% if @shop.image? %>
    　　<%= image_tag @shop.image.thumb.url %>
    　<% else %>
    　　<%= image_tag 'a.png' %>
    　<% end %></td>
        <td><a href="<%= @shop.homepage %>">HP</a></td>
        <td><a href="http://tabelog.com/" target="_blank">予約する</a></td>
      </tr>
    </table>
  </div>
  <div class="tab-pane" id="about">
    <ul>
      <!-- 画像表示欄 -->
      <% @shop.photos.each do |photo| %>
      <li>

        <%= image_tag photo.image_url.to_s %><br/>
        <%= photo.desc if photo.desc.present? %> by <%= photo.user_id %></li>
      <% end %>
      <li>
        <%= form_for [@shop, @shop.photos.build] do |f| %>
        画像を選択<%= f.file_field :image %>
        コメント<%= f.text_field :desc %>
        <%= f.hidden_field :shop_id %>
        <%= f.submit %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane" id="hoge">
    <ul>
    <!-- コメント表示欄 -->
      <% @shop.comments.each do |comment| %>
        <li><%= comment.text %> by <%= comment.user_id %></li>
      <% end %>
      <li>
        <%= form_for [@shop, @shop.comments.build] do |f| %>
        <%= f.text_field :text , class: "form-control"%>
        <%= f.hidden_field :shop_id %>
        <%= f.submit "コメント投稿", class: "btn btn-large btn-primary" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<%= link_to "Home" , "/shops" %>
